MANIFEST.in  
memcache.py  
memcache.pyc  
python-memcached-1.53  
python_memcached.egg-info/  
README.md  
setup.cfg  
setup.py  
test1.txt 
simpleht.py
fusell.py
fuse.py
fuse.pyc
fusemount*
*.txt
.fuserpc.py.swp
work_distribution.txt
